<%= form_for([@question, @question.answers.build]) do |f| %>
    <% if @answer.errors.any? %>
    <h2>
      <%= pluralize(@answer.errors.count, 'error') %> prohibited answer from saving:
    </h2>

    <ul>
      <% @answer.errors.full_messages.each do |error| %>
        <li> <%= error %> </li>
      <% end %>
    </ul>
    <% end %>

    <p>
      <%= f.label :answer %>
      <%= f.text_area :answer %>
    </p>

    <p>
      <%= f.submit %>
    </p>


<% end %>
